# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
ENV/
.env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Flask
instance/
*.db

# Static/Generated
staticfiles/

# Others
*.sqlite3
*.bak
*.swp
